.Menu.is-gapless > .column {
    padding: 0.5rem 1.8rem !important;
}

.Menu table {

    margin-bottom: 0 !important;
    width: 100%;
    background: transparent;

    th, td {
        border-color: #b2b2b2;
    }

    thead {
        th {

            text-align: center;
            vertical-align: bottom;

            &:first-child {
                width: 25%;
                text-align: left;
            }

            &:nth-last-child(1),
            &:nth-last-child(2) {
                width: 22%;
            }
        }
    }

    tbody {
        td {

            vertical-align: middle;

            &:first-child {
                width: 30%;
            }

        }

    }
}

