.Menu.is-gapless > .column {
    padding: 1rem !important;
}

.Menu table {
    text-transform: uppercase;
    width: 100%;
    background: transparent;
    color: #7FDBFF;
    font-weight: bold;

    thead th {
        color: white;
        text-align: center;

        &:first-child {
            text-align: left;
        }
    }

    th {
        vertical-align: bottom;

        &:first-child {
            width: 25%;
        }

        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
            width: 14%;
        }
    }

    tbody {

        td {
            vertical-align: middle;
        }

        &:first-child {
            width: 30%;
        }
    }
}

