.NewsBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 4rem;
    background: red;

    border-top: 2px solid white;

    overflow: hidden;
}

.NewsBar__content {
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    padding-left: 2rem;

    vertical-align: middle;
    color: white;
    font-size: 2rem;

    text-shadow: 1px 1px #2B2B2B;
    line-height: 3.7rem;

    animation: scroll-text infinite 20s linear;

    @include text-aliasing;
}


@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
