.ProductEntry {

    td {
        height: 1rem;
        color: black;
        padding: 0 1.4rem !important;
        @include text-aliasing;

        border-bottom: 3px solid #b2b2b2;
        vertical-align: middle;
    }

}

.ProductEntry__name,
.ProductEntry__price {
    font-size: 2.3rem;
    font-weight: bold;

    @include text-aliasing;
}

.ProductEntry__label {
    font-size: 1.8rem !important;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: rgba(#112233, 0.8) !important;


    height: 2.4rem !important;
    padding: 0.6rem !important;
    @include text-aliasing;
}

.ProductEntry__price {
    text-align: center;
}
