html {
    width: 100%;

    height: auto;
    overflow: auto;

    // background: url('/assets/images/bg/wood.jpg');
    background:  black;
    font-size: 10px;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.column {
    padding: 2.75rem 2rem;
}
