html {
    width: 100%;

    height: auto;
    overflow: auto;

    background: #DFDFE1;

    font-size: 10px;
    font-family: 'Monsterrat';

    color: black;
}

.column {
    padding: 2.75rem 2rem;
}

