html {
    width: 100%;

    height: auto;
    overflow: auto;

    background: #DFDFE1;

    font-size: 10px;


    color: black;
}

html, body {
    font-family: 'IBM Plex Sans' !important;
    font-weight: bold;
}

.column {
  display: inline-block;
}

.row {
  display: block;
}

